@media(max-width: 800px) {
  .bg-color {
    display: none;
  }
  .fo-main {
    display: none !important;
}
.fo-mobil {
  display: flex !important;
  justify-content: end;
  margin-top: -28px;
}

.flo-l {
  margin-top: 9px !important;
  text-align: end;
}
.bg-nav {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

span.navbar-toggler-icon i {
  display: inline-block !important;
}
.for-nbor-f{

  background: #efefef;
      margin-top: 12px;
      border: 1px solid #d9d9d9;
}
ul.navbar-nav.colj-bro li {
  margin-left: 0px !important;
}
.for-flr i {
  background: #d7d7d7;
  padding: 7px;
  border-radius: 50%;
}
.for-flrya {
  background: #d7d7d7;
  padding: 7px;
  border-radius: 50%;
}
.forght i {
  font-size: 20px !important;
  transition: 0.2s ease-in-out;
}
.forght p {
  font-size: 13px !important;
  margin-left: -63px;
}
.forght {
  width: 50% !important;
}
.bg-whitd {
  background: white;
  padding: 30px !important;
}
.textd-top-catagories h2 {
  padding-bottom: 0px !important;
  color: black;
  font-weight: 600;
  font-size: 21px;
}
.side-banr1 img {
  width: 100%;
  display: none;
}
p.for-rempb-whitestpace {
  white-space: nowrap;
  width: 180px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.start-rating-ico1 {
  margin-bottom: -9px !important;
  color: #ff5b00;
  margin-top: -10px !important;
  cursor: pointer;
}
.for-noned{
  display: none !important;
}
button.bg-grdent1 {
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
  color: white;
  border: 1px solid white;
  width: 40% !important;
  padding: 11px;
  padding-top: 12px;
  margin-left: 0px!important;
}
.bf-wjd {
  background: white;
  padding: 18px;
  margin-top: 40px;
}

.bill_ulist ul li {
  padding: 10px;
  color: #313131;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 114px !important;
}
input.for-w-ed {
  width: 100% !important;
}
.my_gb232{
  /* background: #ffb12b; */
  background-color: red;
}
td.fornorvstpac{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.table.responsive {
  table-layout: auto !important;
}
.t-en-contun-prosed-check a button {
  padding: 10px;
  margin-left: 12px;
  background: white;
  border: 2px solid #92be4d;
  color: #92be4d;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin-top: 10px;
}
.t-en-contun-prosed-check {
  text-align: center !important;
}
td.forhhhffh img {
  width: 45px !important;
}
form.for-bodj {
  background: white;
  width: 100% !important;
  padding: 20px;
  margin-top: 20px;
  margin-left: 0 !important;
  box-shadow: 0px 0px 3px 0px black;
}
.__add_modal {
  padding: 4.3rem !important;
  border-radius: 0 !important;
  border: 2px dotted #e0e0e0 !important;
  background: #fff !important;
  -webkit-box-shadow: 0 0 4px rgb(40 44 63 / 8%) !important;
  box-shadow: 0 0 4px rgb(40 44 63 / 8%) !important;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 21px;
}
._address_outer {
  border: 1px solid #ffff;
  background: #ffff;
  padding: 1rem 0rem 0rem;
  width: 100% !important;
}
.for-widkkf-img-logo{
  width: 30% !important;
  margin-bottom: -43px !important;
  margin-left: 45px;
}
.for-widkkf-img-logoyd {
  width: 31% !important;
  margin-bottom: 5px !important;
}
}

/* .container {
  max-width: 1500px !important;
}  */
.bg-image{
  background-image: url(http://localhost/mashala/assets/images/top_header.jpg);
padding-bottom: 70px;
}
.bg_color88{
  background:#ffb12b;

}
.slocial2321{
  cursor: pointer;
  /* background: #ffb12b; */
  /* border-right: 1px solid black; */
  font-size: 18px;
  padding: 6px 8px;
  color: white;
  transition: 0.2s ease-in-out;
}
.env_border{
  border-right: 1px solid;
}
.contact_766{
  padding-left: 8px;
  font-size: 16px;
}
.free_text{
  font-size: 24px;
  font-weight: bold;
}
.bg-color {
  height: 35px;
}
.change-back{
  background: transparent !important;
  border: 0px !important;
  color: black !important;
}
.for-widkkf-img-logo{
  width: 50%;
    margin-bottom: -65px;
}
.for-widkkf-img-logoyd {
  width: 31% !important;
  margin-bottom: 5px !important;
}

/* navbar  */

input.for-widh {
  width: 100% !important;
  color: #ffb12b!important;
  font-size: 15px;
}
.bg-grdent {
  color: white;
  padding-top: 13px;
  padding-left: 16px;
  font-size: 20px;
  text-align: center;
  background: none;
    border: none;
}
.width_class{
  width: 90%;
}
.search_btn_bg{
  background-color: #ffb12b;
  width: 10%;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.for-flrf i:hover {
  color: orange;
  transition: 0.2s ease-in-out;
}

.for-flrf i {
  margin-left: 20px;
  font-size: 22px;
  cursor: pointer;
  background: #e9e9e9;
  border-radius: 50%;
  padding: 8px 10px;
  color: black;
  transition: 0.2s ease-in-out;
}
.bg-nav {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}


span.navbar-toggler-icon i {
    font-size: 26px;
}
span.navbar-toggler-icon i {
  display: none;
}
.flo-l {
  margin-top: 14px;
  text-align: end;
}
@media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
ul.navbar-nav.colj-bro li a {
  color: black !important;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}
h5.for-chng-color {
  margin-left: 15px;
}
.bg-colr {
  border-top: 1px solid rgb(231, 231, 231);
  margin-top: 13px;
}

.fo-mobil{
  display: none;
}
.fo-main {
  display: flex;
}
.for-enditnam  {
  font-size: 22px;
  cursor: pointer;
  /* background: #ffb12b; */
  border-radius: 50%;
  padding: 6px 8px;
  color: white;
  transition: 0.2s ease-in-out;
}
.only-short{
  width: 1000px!important;
}
/* end navbar  */


.zoom {
  padding: 2px;
  transition: transform 2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(1.1); 
}
/* .zoom787 {
  padding: 2px;
  transition: transform 2s;
  width: 200px;
  height: 200px; 
  margin: 0 auto;
} */

.zoom787:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(.9); 
}
/* start top catagories css  */

.forsomeadds{
  display: inline-block;
  margin-left:-4px;
}
.forsomeadds img{
  width:100%;
  height:auto;
  transition: 0.2s ease-in-out;
}

.deal_bg676767{
  background: white;
  border: 1px solid gainsboro;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}
.forcjhfkk i {
  background: #ffa50a;;
  color: black;
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
}
section.bfgrydcol {
  background: #ededed;
      padding-bottom: 50px;
}
.bf-wjd {
  background: white;
  padding: 18px;
  /* margin-top: 40px; */
}
.img_after_slider{
  position: relative;
    overflow: hidden;
}
.textd-top-catagories h2 {
  text-align: center;
  font-size: 34px;
  margin: 0px;
}
.textd-top-catagories {
  border-bottom: 1px dotted black;
  margin-bottom: 20px;
  margin-top: 20px;
}
.title2 h4{
  text-align: center;
  font-family: Dancing Script,cursive;
  /* margin: 0px!important; */

}

.pro_name78{
  margin: 0px;
  padding: 5px 0px;
  color: #000;
  font-weight: 600;
}
.price_6767{
  color:#ffb12b ;
  font-weight: 900;
}
.border_66{
  border: 1px solid #f5a111;
  padding: 5px;
  background: #ffb12b;
  color: #fff;
  /* border-radius: 3px; */
}
.border_66:hover{
  border: 1px solid #acaaaa;
  padding: 5px;
  background: #dd8e07;
  color: #fff;
  /* border-radius: 3px; */
}
.title-inner2 {
  text-align: center;
  font-size: 34px;
    margin: 0px;
}
.for-imgfd a {
  text-align: center;
  color: black;
  transition: 0.3s ease-in-out;
}
.for-imgfd a p {
  padding-top: 20px;
  font-weight: 700;
  font-size: 16px;
}
.for-imgfd a:hover {
  text-align: center;
  color: orange;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.for-imgfd img:hover {
  border: 1px dotted;
  border-radius: 50%;
  color: red;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
/* End top catagories css  */

/* start third sec  */
.bg-whitd {
  background: white;
  padding: 50px;
}
.forght p {
  font-size: 20px;
}

.forght i {
  font-size: 34px;
  transition: 0.2s ease-in-out;
}
.forght i:hover {
  color: red;
  transition: 0.2s ease-in-out;
}
.forchrn {
  justify-content: center;
}

/* end third sec  */

/* start fourth sec  */
.side-banr1 img {
  width: 100%;
}

/* Style tab links */
.tablink {
  height: 30px;
  margin-left: 26px;
  color: black;
  border: 0px;
  background: none;
  font-weight: 700;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100%;
}
.bf-wjd1 {
  background: white;
  padding: 18px;
}


.start-rating-ico i {
  color: gold;
}
.start-rating-ico {
  text-align: center;
}
.for-chnf {
  background: #f6f6f6;
}
.for-name-pro p {
  color: black;
  text-align: center;
  padding-top: 7px;
  font-weight: 600;
}
.price-and-cart {
  display: flex;
  justify-content: space-around;
  color: black;
  padding-top: 20px;
  font-size: 17px;
}
.price-and-cart p {
  font-weight: 600;
}
.price-and-cart a i {
  color: black;
  font-size: 20px;
}
.price-and-cart a i:hover {
  color: red;
  font-size: 20px;
}
.for-cart-iv {
  text-align: end;
  color: black;
  padding: 12px;
  font-size: 16px;
}
.for-cart-iv:hover {
  text-align: end;
  color: red;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
/* end fourth sec  */

/* start  fifth sec  */
/* right side css  */
.bg-wifll {
  background: white;
  padding: 5px;
}
.for-top-hed {
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
  color: white;
  padding: 10px;
  font-weight: 700;
  border-radius: 9px;
}
.for-w-ff {
  width: 39%;
  cursor: pointer;
}
p.for-rempb-whitestpace{
  white-space: nowrap;
  width: 134px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.start-rating-ico1 {
  margin-bottom: -15px;
  color: #ff5b00;
  margin-top: -15px;
  cursor: pointer;
}
.for-botm-botrf{
  border-bottom: 1px solid #d1d1d1;
}
p.for-rempb-whitestpace:hover {
  color: red;
  cursor: pointer;
}
section.bfgrydcol1 {
  background: #ededed;
  padding-bottom: 15px;
  margin-top: -65px;
}
/* end right sid ecss  */
.beffect {
  position: relative;
  overflow: hidden;
}
.beffect {
  box-shadow: 0 0 6px #0400001a;
}
.beffect img {
  border-radius: 4px;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.beffect a:after {
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255,255,255,.9) none repeat scroll 0 0;
  height: 0;
  transition: all .7s ease-in-out 0s;
  width: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* end fifthsec css  */

/* sale section css start  */
.for-imhffdtop img {
  width: 100%;
}
.for-cart p {
  color: red;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 600;
}
.forsaletext-name p {
  padding-top: 35px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.forsaletext-name p:hover {
  color: red;
  cursor: pointer;

}
.start-rating i {
  color: gold;
}
.prices-del p {
  font-weight: 900;
  padding-right: 10px;
}
.prices-del {
  display: flex;
  margin-top: 9px;
}
.phera-disc p {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 7px;
    width: 95%;
}

.for-smae-countdown{
	font-family: GalaxieCondensedMedium,Arial,sans-serif;
	color: white;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 40px;
  margin-top: 16px;
}

.for-smae-countdown > div{
	border-radius: 3px;
	display: inline-block;
}

.for-smae-countdown div > span {
  display: inline-block;
  box-shadow: 2px 3px 3px #242424;
  background: red;
  padding: 7px;
  border-radius: 20%;
  font-size: 20px;
}
.smalltext {
  padding-top: 8px;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

/* End sale sec css  */

/* start best selaing product  */
.for-w-ff1 {
  width: 30%;
  cursor: pointer;
}
.start-rating-ico1-new {
  margin-bottom: -5px;
  color: #ff5b00;
  margin-top: -15px;
  cursor: pointer;
  margin-top: 10px;
}

/* End  best selaing product  */

/* star textmonoal sec  */

.testimonial svg {
  fill: #fa414c;
  opacity: .2;
  position: absolute;
  height: 40px;
  width: 40px;
  right: -90px;
  left: 0;
  margin: 0 auto;
}
svg:not(:root) {
  overflow: hidden;
}
.testimonial .quotes-slider__text img {
  position: relative;
  border-radius: 100%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.forsome-cds{
  width: 50% !important;
}
/* End textmonoal sec  */

/* strat last banner  */
.for-banner img {
  width: 100%;
  margin-top: 20px;
}
/* End last banner  sec  */

/* strat footer css  */

.logo-footer {
  padding-top: 20px;
}
.logo {
  padding-left: 10px;
}
.for-contc-info h3 {
  color: black;
  font-size: 21px;
  font-weight: 600;
}
.for-contc-info {
  margin-top: 23px;
  margin-bottom: 9px;
}
.forcoldrd i {
  color: #fb2328;
  font-size: 17px;
}
.for-radiht{
  border-right: 1px solid #d6d6d6;
}
.for-singup-ser h3 {
  padding-top: 31px;
  margin-bottom: 15px;
}
input.for-widh1 {
  width: 93% !important;
  background: #e3e3e3;
}
.text_676 a{
  text-decoration: none!important;
}
.text_color56{
  color: #000;
  font-size: 15px;
  font-weight: 600;
}
button.bg-grdent1 {
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
  color: white;
  border: 1px solid white;
  width: 21%;
  padding: 11px;
  margin-left: -135px;
  padding-top: 12px;
}
.social112 .facebook {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #1877f2;
    font-size: 28px;
}
.social112 .instagram {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color:#f50bad;
    font-size: 28px;
}
.social112 .twitter {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color:#1877f2;
    font-size: 28px;
}
.social112 .whatsapp {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color:#25D366;
    font-size: 28px;
}
.for-singup-ser {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
}
.services-footer h3 {
  padding-top: 25px;
  margin-bottom: 10px;
}
.services-footer a p:hover {
  color: #000000;
}
.foot_bg9889{
  background: #ff000000;
}
.services-footer a p {
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
}
.services-footer a {
  text-decoration: none;
  color: gray;
}
.for-copyright-footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin-top: 20px;
  font-size: 16px;
}
/* End footer css  */

/* start product list css  */
/* start filter section  */
.brnd-hed-filet ul li:hover {
  color: red;
}
.brnd-hed-filet ul li a {
  text-decoration: none;
}
.brnd-hed-filet ul li {
  list-style: disc;
  margin-left: -16px;
  color: black;
  line-height: 28px;
}
.brnd-hed-filet {
  padding: 10px;
}

/* End filter sec  */
.fjd p {
  padding-left: 12px;
  margin-bottom: 5px !important;
  color: black;
}

.fjd {
  display: flex;
}
.bg-whited.mt-4 {
  background: white;
  padding-left: 10px;
}
.for-bord-lf {
  border-right: 2px solid #bbbbbb;
  padding-left: 10px;
  height: 18px;
  margin-top: 2px;
}
.fjd p:hover {
  color: red;
  cursor: pointer;
}
.for-bd-lightf {
  background: white;
  margin-top: 20px;
  padding: 20px;
}
.for-chrn {
  text-align: center;
}
.for-chrn a img {
  width: 65%;
}

/* End product list css  */

/* start details page css  */


.body{font-family: poppins;}

.prod_ulist{display: flex;
  padding: 10px;
  list-style: none;}
.prod_ulist li{padding: 10px;}
.prod_ulist a{text-decoration: none;
color: black;
}
.prod_ulist a:hover{color: #ad0202;}

.for-border{border-right: 1px solid black;
  height: 16px;
  margin-top: 13px;}

  .prod_cont h5{padding: 10px;}

  .prod_cont p {padding: 10px;
    text-align: justify;}

    .bill_ulist ul{list-style: none;
      display: flex;}
      .bill_ulist ul li{padding: 10px;
          color: #313131;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0;
          
          width: 165px}

          .delete_price{color: grey;
            font-size: 12px;}
          .bill_uklist_right{font-weight: 400!important;}  

          .bill_uklist_rstock{color: #fa9324!important;}


.btn.focus, .btn:focus {
outline: 0;
box-shadow: none!important;
border: 1px solid red;
}
.forlof{padding: 0px!important;
padding-right: 10px!important;
padding-left: 10px!important;
font-size: 14px!important;
background-color: #fff;
border: 1px solid lightgrey;}

.Addtocart {
  padding: 5px!important;
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%) !important;
  border: 1px solid #fa414c !IMPORTANT;
  color: #fff !important;
  font-size: 16px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.btn.focus, .Addtocart:focus{border: none!important;}

.Addtocart:hover{background-color: black;}

.bill_ulist_addtocart ul{display: flex;
list-style: none;}

.bill_uklist_button{display: flex;}

.social_prodicon  li {font-size: 28px;
padding: 10px;}

.fb{color: #38529a;}
.twtr{color: #1c9cea;}
.maail{color: #dc313f;}

/*tab css start*/

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #fff;

}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 14px;
}
.tab h5{font-size: 14px;
font-family: poppins;
font-weight: 400;}
/* Change background color of buttons on hover */
/*.tab button:hover {
background-color: #ddd;
}
*/
/* Create an active/current tablink class */
/*.tab button.active {
background-color: #ccc;
}*/

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
/*tab css end*/
 @media only screen and (max-width: 700px){
    .prod_ulist li{padding: 6px;
      font-size: 10px;}
      .for-border {
        border-right: 1px solid black;
        height: 10px;
        margin-top: 8px;
 }  

 }
 .border-1-solid {
  border: 1px solid lightgrey;
  padding: 18px;
}
 /* End details page cs  */


 /* start Add Cart css  */
.t-en-contun-prosed-check a button:hover {
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out;
}
.t-en-contun-prosed-check a button {
  padding: 10px;
  margin-left: 12px;
  background: white;
  border: 2px solid #fa414b;
  color: #fa414b;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
.t-en-contun-prosed-check {
  text-align: end;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px dotted gray;
  padding-bottom: 12px;
}
.add-card-item-show h6 {
  margin-top: 20px;
  color: gray;
  font-weight: 600;
  font-size: 15px;
}

.get-dilever-time h6 {
  font-size: 16px;
  padding-top: 3px;
  color: #fa414b;
}

.get-dilever-time i {
  margin-right: 10px;
  font-size: 25px;
}
.get-dilever-time {
  display: flex;
  justify-content: center;
}
td.for-cartrg {
  border-bottom: 1px solid #fa414b;
}
td.for-cartrg h5 {
  margin-bottom: 10px;
  margin-top: 9px;
  font-size: 15px;
}
.dkeliye h6 {
  font-size: 18px;
}
.dkeliye {
  display: flex;
  justify-content: end;
}
.dkeliye p {
  margin-right: 30px;
}
.subtotal {
  border-bottom: 1px solid #cccccc;
}
input.for-w-ed {
  width: 20%;
}
table.table.responsive {
  table-layout: fixed;
}
td.forhhhffh img {
  width: 50%;
}
td.forhhhffh {
  text-align: center;
}
tr#nonedd1 {
  border-bottom: 1px solid lightgrey;
}
/* end add cart css  */

/* start css proced checkout  */

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 31px;  font-size: 17px;
  width: 25%;
}
.for-wfproced{
  padding: 0px !important;
  font-size: 17px;
  width: 25% !important;
  height: 50px;
}


.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 72px 20px 20px 20px;
  height: 100%;
}
.card-body.text-center p {
    white-space: nowrap;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}
/* End css proced checkout  */

/* start login page  */
form.for-bodj {
  background: white;
  width: 39%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 33%;
  box-shadow: 0px 0px 3px 0px black;
}
.top-login-hed h3 {
  font-size: 24px;
}
.top-login-hed {
  margin-top: 80px;
  border-bottom: 1px solid #d1d1d1;
  padding: 15px;
}
button.forseckf {
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
  color: white !important;
  padding: 10px;
  margin-bottom: 20px;
}
.new-singup.small p {
  text-align: center;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 10px;
  font-size: 18px;
}

.new-return p a:hover {
  color: red;
}
.Deal_padd45{
  padding-bottom: 12px;
}

.new-return p a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
/* End login page  */

/* start about us  */
.for-top-heds-about {
  padding-top: 15px;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px;
  padding-left: 10px;
}
.for-pherahrmfd {
  padding: 10px;
  text-align: justify;
  font-size: 16px;
}


/* End about us css  */

/* start edit address  */
.shoped__{
  font-size: 1.4rem;
  padding-top: 60px;
  font-weight: 700;
}

.last__inc {
  font-size: 0.8rem;
  font-weight: 500!important;
}

.__total {
  font-weight: 700;
}

.__Free_ship {
      color: green;
}

.__dotted_border {
  border-top: 2px dotted #adadad;
}

.__proceed_by {
  padding: 0.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: #ef6c00!important;
  box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.75);
}

.__proceed_by:hover {
  text-transform: uppercase;
  text-align: center;
  color: #fff!important;
  width: 100%;
  background-image: linear-gradient(90deg,#d11d26 0%,#d8273c 49%,#ff4e13 100%) !important;
}
.for-chnf-back-imgd{
  text-transform: uppercase;
  text-align: center;
  color: #fff!important;
  width: 100%;
  background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%) !important;
}
.__shield i {
  font-size: 1.5rem;
}

.__safe__s {
      font-size: 0.8rem;
}
.payment__4654 {
  border-right: 1px solid #e8e8e8;

  }
  ._address_outer {
    border: 1px solid #ffff;
    background: #ffff;
    padding: 1rem 0rem 0rem;
    width: 100%;
}
._address_inner {
  padding: 8px;
}
.name__by {
  font-weight: 700;
}
.make__address p {
  font-weight: 600;
}
.now__remove a {
    color: white;
    font-weight: 700;
}
.now__remove {
    background-image: linear-gradient(90deg,#fa414b 0%,#fc5b6f 49%,#fd7c50 100%);
    padding: 3px;
}


.__add_modal {
  padding: 4.3rem !important;
  border-radius: 0  !important;
  border: 2px dotted #e0e0e0  !important;
  background: #fff  !important;
  -webkit-box-shadow: 0 0 4px rgb(40 44 63 / 8%)  !important;
  box-shadow: 0 0 4px rgb(40 44 63 / 8%)  !important;
  width: 100%;
  font-size: 0.8rem;
}
.bg-likklfj {
  background: white;
  padding: 11px;
  padding-top: 0px;
}
/* End edit address  */

/* Deal of the day css strt  */
.deal-banner {
  background-color: #ffb12b;
  padding: 40px 0;
}

.deal-banner .deal-banner-containe h2 {
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
}

.deal-banner .deal-banner-containe h1 {
  font-size: calc(16px + (40 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.5px;
}

.deal-banner .deal-banner-containe .deal-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deal-banner.deal-banner-inverse {
  background-color: black;
}

/*============================
15. Hot Deal CSS start
==============================*/
.hotdeal-right-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.hot-deal.space-abjust .hot-deal-contain {
  padding: 15px 20px;
}

.hot-deal .hot-deal-heading {
  margin-bottom: 25px;
}

.hot-deal .hot-deal-heading h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}

.hot-deal .hot-deal-contain {
  background-color: #333333;
  padding: 50px;
}

.hot-deal .hot-deal-contain .hotdeal-right-nav img {
  height: 130px;
  width: auto;
  margin: 0 auto;
  border: 1px solid #dddddd;
  transition: all 0.3s ease;
}

.hot-deal .hot-deal-contain.hot-deal-contain2 {
  padding-top: 30px;
}

.hot-deal .hot-deal-contain.hot-deal-contain2 .hot-deal-center .timer span {
  background-color: #222222;
}

.hot-deal .hot-deal-contain .hot-deal-center {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.hot-deal .hot-deal-contain .hot-deal-center h5 {
  margin-bottom: 10px;
  color: black;
  letter-spacing: 0.05em;
}

.hot-deal .hot-deal-contain .hot-deal-center .rating {
  line-height: 1.4;
}

.hot-deal .hot-deal-contain .hot-deal-center p {
  margin: 20px 0;
  line-height: 1.7;
  letter-spacing: 0.05em;
}

.hot-deal .hot-deal-contain .hot-deal-center .price {
  line-height: 1.4;
}

.hot-deal .hot-deal-contain .hot-deal-center .price>span {
  color: #ffb12b;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.hot-deal .hot-deal-contain .hot-deal-center .price>span+span {
  color: #d0edff;
  margin: 0 0 0 10px;
  text-decoration: line-through;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer {
  margin-top: 30px;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span {
  display: inline-grid;
  background-color: white;
  padding: 12px 0 18px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 0 8px;
  min-width: 60px;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span:first-child {
  margin-left: 0;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span:last-child {
  margin-right: 0;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span .padding-l {
  display: none;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span .timer-cal {
  font-size: 12px;
  color: #6f6f6f;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer span>span {
  color: #d0edff;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin-left: 0;
  text-transform: capitalize;
}

.hot-deal .hot-deal-contain .hot-deal-center .timer p {
  margin-bottom: 0;
}

.hot-deal .hot-deal-contain .hotdeal-right-slick {
  border: 1px solid #d0edff;
  transition: all 0.3s ease;
}

.hot-deal .hot-deal-contain .hotdeal-right-slick:hover {
  border: 1px solid #ffb12b;
}

.hot-deal .hot-deal-contain .hotdeal-right-slick img {
  width: 100%;
}

.hot-deal .hot-deal-contain .hotdeal-right-nav img {
  height: 130px;
  width: auto;
  margin: 0 auto;
  border: 1px solid #d0edff;
  transition: all 0.3s ease;
}

.hot-deal .hot-deal-contain .hotdeal-right-nav img:hover {
  border: 1px solid #ffb12b;
}

.hot-deal .hot-deal-contain .slick-slider .slick-arrow {
  display: none !important;
}

.hot-deal .hot-deal-contain1 {
  background-color: white;
  padding: 30px;
}

.hot-deal .hot-deal-contain1.hot-deal-banner-1 {
  background-color: #333333;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hotdeal-right-slick-1 .right-slick-img {
  border: 1px solid #d0edff;
  width: auto !important;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hotdeal-right-nav-1 img {
  width: 65px;
  border: 1px solid #d0edff;
  margin: 0 0 10px auto;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hotdeal-right-nav-1 img:last-child {
  margin-bottom: 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center h5 {
  color: black;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center p {
  line-height: 1.6;
  margin: 20px 0;
  letter-spacing: 0.05em;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span {
  display: inline-grid;
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  color: black;
  margin: 0 4px;
  min-width: fit-content;
  font-size: 24px;
  padding: 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span:nth-child(even) {
  color: #d0edff;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span:first-child {
  margin-left: 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span:last-child {
  margin-right: 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span .timer-cal {
  font-size: 12px;
  color: #6f6f6f;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer span>span {
  color: #d0edff;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin-left: 0;
  text-transform: capitalize;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .timer p {
  margin: 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .rating {
  line-height: 1;
  margin: 20px 0;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .price span {
  font-size: 16px;
  color: #ffb12b;
  font-weight: 700;
  margin-right: 10px;
  line-height: 1;
}

.hot-deal .hot-deal-contain1 .hot-deal-subcontain .hot-deal-center .price span:last-child {
  color: #d0edff;
  text-decoration: line-through;
}

.hot-deal .slick-prev {
  top: 35px;
  right: 50px;
  left: unset;
  z-index: 9;
}

.hot-deal .slick-prev:before {
  color: #555555;
  opacity: 1;
  font: normal normal normal 30px/1 FontAwesome;
  content: '\f104';
}

.hot-deal .slick-next {
  top: 35px;
  right: 25px;
  z-index: 9;
}

.hot-deal .slick-next:before {
  color: #555555;
  opacity: 1;
  content: '\f105';
  font: normal normal normal 30px/1 FontAwesome;
}

.hot-deal-padding {
  padding-right: 0;
  padding-left: 0;
}

.hot-1>div:first-child {
  padding-right: 0;
}

.hot-1>div:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}

.hot-1>div:last-child {
  padding-left: 0;
}

.prd-block-deal .theme-card .slick-prev,
.prd-block-deal .theme-card .slick-next {
  display: none !important;
}

.space-onsale h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.space-onsale .vert-midd .slick-next {
  right: -15px;
}

.space-onsale .vert-midd .slick-prev {
  left: -16px;
}

.space-onsale .border-theme {
  border: 1px solid #e5e5e5;
  padding: 18px 20px;
  padding-bottom: 10px;
}

.space-onsale .border-theme.add-banner {
  padding: 20px;
  padding-bottom: 18px;
}

.layout-3-hotdeal>div:first-child {
  padding-right: 0;
}

.layout-3-hotdeal>div:nth-child(2) {
  padding-right: 0;
}

.layout-3-hotdeal>div:nth-child(4) {
  padding-left: 0;
}

.prod-timer-three .timer-dots {
  position: relative;
  top: -12px;
  font-weight: bold;
}

.prod-timer-three .timer li {
  display: inline-block;
  text-align: center;
  width: 64px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 10px 0;
  margin: 0 5px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.98);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 577px) {
  .prod-timer-three .timer li {
      width: 52px;
  }
}

.prod-timer-three .timer li:last-child,
.prod-timer-three .timer li:hover {
  border-color: #ffb12b;
  color: #ffb12b !important;
}

.prod-timer-three .timer li:last-child span,
.prod-timer-three .timer li:hover span {
  color: #ffb12b !important;
}

.prod-timer-three .timer li span {
  color: black;
  font-size: 24px;
  line-height: 1;
  width: auto;
  display: inline-block;
}

.prod-timer-three .timer li .timer {
  font-size: 13px;
  color: #999;
  position: relative;
  margin-top: 8px;
  padding-top: 12px;
  display: block;
  width: auto;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.prod-timer-three .timer li .timer:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 767px) {
  .timer-product-desc {
      margin-top: 12px;
  }
}

.timer-product-desc a h6 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.timer-product-desc .pro-desc {
  color: #999;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

.timer-product-desc .pro-price {
  font-size: 21px;
  margin-bottom: 16px;
  color: #ffb12b;
  font-weight: bold;
  display: inline-block;
  padding-right: 7px;
}

.timer-product-desc .pro-price-del {
  display: inline-block;
}

.timer-product-desc .pro-price-del del {
  font-size: 17px;
  color: #676464;
  font-weight: 400;
  margin: 0 8px;
}
.Dec76866 p{
  font-size: 14px;
  text-align: justify;
  padding-right: 10px;
}
.curser65{
  width: 8%!important;
}
.timer-product-desc .rating {
  margin-bottom: 18px;
}

.timer-product-desc .rating .spr-badge-starrating .spr-icon {
  font-size: 12px;
  padding-right: 3px !important;
}