/* admin style Table text wrap */
tbody td p.text-wrap{
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

 h1 {
 text-align: center;  
 }

 .bg-per,.text-per,.btn-per{
  background: #8e44ad;
  color: #fff;
}

 .bg-red,.text-red,.btn-red{
  background: #b71540;
  color: #fff;
}


 .bg-blue,.text-blue,.btn-blue{
  background: #0c2461!important;
  color: #fff;
}
 .bg-pink,.text-pink,.btn-pink{
  background: #f368e0!important;
  color: #fff;
}
.active{

  box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
  background-image: linear-gradient(98deg, #C6A7FE, #3679c7 94%) !important;
  border-radius: 5px 25px 25px 5px !important;
  color: #fff !important;
  font-size: 16px;

}
.active a{

 
  color: #fff !important;
  

}
.nameClass{
  text-decoration: none;
    color: #000;
}
.nameClass:hover{
  text-decoration: none;
    color: #f87016;
}
.bg-warning{
  color: #fff !important;
}

.dash-widget-info a:hover{
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #f3780c;
}
.blink_now {
  background-color: #2f998f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #2f998f; -webkit-box-shadow: 0 0 3px #2f998f; }
  50% { background-color: #2f998f; -webkit-box-shadow: 0 0 40px #2f998f; }
  60% { background-color: #2f998f; -webkit-box-shadow: 0 0 3px #2f998f; }
}


 input {

 
 font-size: 13px;
 font-family: Raleway;
 border: 1px solid #aaaaaa;
 }
 /* Mark input boxes that gets an error on validation: */
 input.invalid {
 background-color: #ffdddd;
 }
 /* Hide all steps by default: */
 .tab {
 display: none;
 }
 button {
 background-color: #04AA6D;
 color: #ffffff;
 border: none;
 padding: 10px 20px;
 font-size: 17px;
 font-family: Raleway;
 cursor: pointer;
 }
 button:hover {
 opacity: 0.8;
 }
 #prevBtn {
 background-color: #bbbbbb;
 }
 /* Make circles that indicate the steps of the form: */
 .step2 {
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbbbbb;
 border: none;  
 border-radius: 50%;
 display: inline-block;
 opacity: 0;
 }
 .step{
 opacity:0;
 }
 .step.active {
 opacity:0;
 }
 /* Mark the steps that are finished and valid: */
 .step.finish {
 /* background-color: #04AA6D; */
 opacity: 1;
 }
 .hide{
 display:none;
 }
 .show{
 display:block;
 }
 .fa-check{
 line-height: 2;
 background: #04aa6d;
 width: 30px;
 height: 30px;
 border-radius: 100%;
 color:white;
 }
 #regiration_form fieldset:not(:first-of-type) {
 display: none;
 }
 .multi_step_back{
 background:white;
 padding:20px
 }
 .previous {
 margin-bottom:20px;
 }

 /* css for tabs   */
 .nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}
.minHeight{
 min-height:209px;
}
.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.bootstrap-tagsinput{

  border-radius: 0px;
  border: 1px solid grey;
  width: 100%;
  height: 83%;
  line-height: 35px;
}
.bootstrap-tagsinput span{
 font-size:15px;
}
.otherbenift .chosen-container{
 width: 640px;
line-height: 47px;
border: 1px solid white;

}
.show{
 display:block;
}
.upload__box {
 padding: 40px;
}
.upload__inputfile {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
.upload__btn {
 display: inline-block;
 font-weight: 600;
 color: #fff;
 text-align: center;
 min-width: 116px;
 padding: 5px;
 transition: all 0.3s ease;
 cursor: pointer;
 border: 2px solid;
 background-color: #4045ba;
 border-color: #4045ba;
 border-radius: 10px;
 line-height: 26px;
 font-size: 14px;
}
.upload__btn:hover {
 background-color: unset;
 color: #4045ba;
 transition: all 0.3s ease;
}
.upload__btn-box {
 margin-bottom: 10px;
}
.upload__img-wrap {
 display: flex;
 /* flex-wrap: wrap; */
 margin: 0 -10px;
}
.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 1px;
  position: relative;
  top: -65px;
  left: 147px;
}
.upload__img-close {
 width: 24px;
 height: 24px;
 border-radius: 50%;
 background-color: rgba(0, 0, 0, 0.5);
 position: absolute;
 top: 10px;
 right: 10px;
 text-align: center;
 line-height: 24px;
 z-index: 1;
 cursor: pointer;
}
.upload__img-close:after {
 content: '\2716';
 font-size: 14px;
 color: white;
}
.img-bg {
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 position: relative;
 padding-bottom: 100%;
}
.imageThumb {
 height:170px;
 width:170px;
}

.saf__box1 {
  background-color: #936dd7 !important;
  color: #fff;
}
.saf__box2 {
  background-color: #3f51b5b8 !important;
  color: #fff;
}

.saf__box3 {
  background-color: #2196f3c2 !important;
  color: #fff;
}

.saf__box4 {
  background-color: #337ab7;
  color: #fff;
}
.saf__box5 {
  background-color: #009688;
  color: #fff;
}

.small-box a {
  text-decoration: none;
  color: white;
}
.notification1 {
  float: right;
  padding: 8px 5px 0px 0px;
}
.badge1 {
  display: inline-block;
  min-width: 10px;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f50489;
  border-radius: 10px;
  position: absolute;
  right: 12px;
  top: 3px;
}
.super_admin {
  color: #009688 !important;
  font-weight: 700 !important;
  text-align: left;
}

.btn-gradient-primary {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  /* border: 1px solid #ffffff; */
  border-radius: 4px;
}
  .btn-gradient-primary:hover {
    text-decoration: none;
    color: #fff;
    font-weight:600;
}
.leads ul li{
  list-style: none;
  cursor: pointer;
  padding: 3px 3px 3px 20px !important;
 
}
.leads ul li a{
text-decoration:none;
color:#000;
 
}

.leads ul li a:hover{
text-decoration:none;
color:#fff;
}
.leads ul li:hover{
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color:#fff;
}
.leads ul{
  padding: 0px;
  margin:0px;
  color:linear-gradient(to right, #da8cff, #9a55ff);
}
.showMe{
  left:-33px!important;
}
/* -----------------  */

.green{
  background: #2df570;
}
.red{
  background: red;
}
.circle {
  display: inline-block;
  margin-right: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
td{
  border: none!important;
}
th{
  border: none!important;
}

  .bg-inverse-success {
    background-color: rgba(15,183,107,.12)!important;
    color: #26af48!important;
}

.bg-inverse-warning {
  background-color: rgba(255,152,0,.12)!important;
  color: #f39c12!important;
}

.bg-inverse-danger {
  background-color: rgba(242,17,54,.12)!important;
  color: #e63c3c!important;
}
.dropdown-toggle {
  font-size: 16px;
  padding: 8px 5px;
  font-weight: 600;
  color: #fff;
   border: none !important;  
  border-radius: 4px;
}

.welcome-text{
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #8D8D8D;
  /* margin-left: -238px; */
  margin-bottom: 10px;
}

 .welcome-sub-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #8D8D8D;
  margin-bottom: 0;
}

.blueq{
  background-image: linear-gradient(98deg, #1f5390, #3679c7 94%) !important;
}

.left{
  text-align: left;
}

.btnsub{
  background: none;
  color: black;
  border: 1px solid #14539a;
}

.big_img{
  top: -1px;
    position: absolute;
    width: 6%;
    right: 193px;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
  background-color: rgba(255,255,255,.1);
  color: #000  ;
}

[class*=sidebar-dark-] {
  background-color: #ffffff !important ;
}
/* [class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
  color: rgb(0 0 0 / 80%) !important;
  font-weight: 600;
} */

.main-sidebar, .main-sidebar::before {
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  width: 165px !important ;
}
@media (min-width: 768px){
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 168px !important ;
}
}
body {
  margin: 0;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px!important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
  width: calc(170px - 0.5rem * 2) !important ;
  transition: width ease-in-out .3s;
}



.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 0.25rem;
}

.gfty{
  background: #f1f7fd;
    border-top: 1px solid #c2d0df !important;
    margin-top: 52px;
}